/**
 * {{generator}} SDK hooks
 *
 * @copyright (c) {{year}} - kronup.com
 */
const iHook = require("../../lib/iHook");

module.exports = class hook extends iHook {

    /**
     * @TODO Navigate to the parent class to see available hooks
     */

};
