{
    "openapi": "3.0.0",
    "info": {
        "version": "0.0.1",
        "title": "kronup / api",
        "description": "# API reference\n\nThe kronup API follows [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) guidelines. All responses are [JSON-encoded](http://www.json.org/), with standard HTTP response codes and verbs.\n\n# Frameworks\n\nYou can start building your kronup application today with our [PHP SDK](https://kronup.github.io/kronup-php/).\n\n# Authorization\n\nOur API uses a [JSON Web Token](https://en.wikipedia.org/wiki/JSON_Web_Token) for authentication. \n\nYou can get your token form the settings page.\n\n```\n$ curl -H \"Authorization: Bearer YOUR.JWT.KEY\"\n```\n\n# Errors\n\nConventional HTTP response codes are used to indicate the status of an API request.\n\n| HTTP Status Codes |  |\n|---|---|\n| 400 - Bad Request | Invalid request, ususally due to a missing argument |\n| 401 - Unauthorized | Authorization error due to invalid, expired or missing token |\n| 402 - Request Failed | Payment required |\n| 403 - Forbidden | You are not allowed to perform that request |\n| 404 - Not Found | Resource does not exist |\n| 409 - Conflict | This request is in conflict with another |\n| 429 - Too Many Requests | You are sending too many requests to our API servers |\n| 5xx - Server Errors | Something went wrong with kronup's servers |\n\n## 401 Unauthorized\n\nFor status code `401 - Unauthorized` you can receive one of the following errors:\n\n| Error ID | Error Message |\n|---|---|\n| jwt-missing | Authentication token missing |\n| jwt-format | Invalid JWT token |\n| jwt-format-header | Invalid JWT header |\n| jwt-format-body | Invalid JWT body |\n| jwt-payload | Invalid JWT payload |\n| jwt-issuer | Invalid JWT issuer |\n| jwt-public-key | Could not fetch JWT public key |\n| auth-missing | Authorization header missing |\n| auth-invalid | Wrong authorization strategy |\n| auth-api-invalid | API user does not exist |\n| auth-api-expired | API token is no longer valid |",
        "x-logo": {
            "url": "/img/banner.svg",
            "altText": "kronup"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "servers": [
        {
            "url": "https://api.kronup.com/v1"
        }
    ],
    "tags": [
        {
            "name": "Account",
            "description": "Manage the current account.\n\nThese methods apply to the identity declared in the authorization bearer token.\n\nEach Account and Service Account can send at most **10000** requests per day through our API.\n\nEach [User](#tag/Users) can receive at most **100** Notifications for each [Organization](#tag/Organizations) they are a part of."
        },
        {
            "name": "Users",
            "description": "Manage users within the scope of an [Organization](#tag/Organizations).\n\nThere are 3 site-level roles: **admin**, **moderator** and **user**.\n\nAdmins and moderators have access to account data outside of their organization (read as **A can B**):\n\n\n|  | B: admin | B: moderator | B: user |\n|---|---|---|---|\n| A: admin | read/write | read/write | read/write |\n| A: moderator | read | read/write | read/write |\n| A: user | - | - | - |\n\n\nThere are 3 organization-level roles: **owner**, **manager** and **member**.\n\nWithin the same organization, account actions are limited (read as **A can B**):\n\n\n|  | B: owner | B: manager | B: member |\n|---|---|---|---|\n| A: owner | read/write | read/write | read/write |\n| A: manager | read | read/write | read/write |\n| A: member | read | read | read |\n\n\n\n* Any account has **read/write** permissions over **itself**\n* Site-level roles have priority over organization-level roles for **write** rules\n* Organization-level roles have priority over site-level roles for **read** rules"
        },
        {
            "name": "Invitations",
            "description": "Invitations follow the [Organization](#tag/Organizations) role-based access control rules.\n\nEach organization can have a maximum of **250** invitations."
        },
        {
            "name": "Organizations",
            "description": "Each [Account](#tag/Account) owns at most **50** Organizations.\n\nThese are the role-based access control rules for organizations:\n\n| Organization Role \\ Action | Read * | Write * | Delete ** |\n|---|---|---|---|\n| Owner | yes | yes | yes |\n| Manager | yes | yes | no |\n| Member | yes | no | no |\n\n\n(*) The **read** and **write** actions refer to all endpoints that require the **x-org-id** header.\n\n(**) The **delete** action refers to removing the Organization model."
        },
        {
            "name": "Teams",
            "description": "Each [Organization](#tag/Organizations) has at least **1** and at most **100** Teams."
        },
        {
            "name": "Channels",
            "description": "Each [Team](#tag/Teams) has at least **1** and at most **100** Channels."
        },
        {
            "name": "Value items",
            "description": "Instead of `issues`, we're using `value items` to emphasise that everything must be viewed through the lens of customer value.\n\nValue items are debated and advanced in [Channels](#tag/Channels). \n\nEach `value item` has length restrictions to encourage brevity and to ensure that all team members are well-informed quickly.\n\nIn order to prevent information overload, each [Channel](#tag/Channels) can hold at most **50** 'value items'."
        },
        {
            "name": "Assumptions",
            "description": "Each [Value item](#tag/Value-items) has at least **1** and at most **100** Assumptions.\n\nLess is more, so focus on having smaller value items with fewer assumptions per item.\n\nAssumptions need to be validated by running new experiments or by relying on past results."
        },
        {
            "name": "Tasks",
            "description": "Each [Value item](#tag/Value-items) has at least **1** and at most **100** Tasks.\n        \nUse divide-et-impera as often as you like, but preferably keep you value items as short as possible.\n\nAll tasks must be marked as done before the value item can be retired to deep context.\n\nEach task can have a maximum of **10** [Notions](#tag/Notions), **100** discoveries, and **250** feedback items."
        },
        {
            "name": "Notions",
            "description": "Each [Task](#tag/Tasks) can be described with a list of Notions.\n        \nNotions are products, services, tools, methodologies or skills required to successfully complete a task.\n\nEach [Organization](#tag/Organizations) can define at most **100000** Notions."
        },
        {
            "name": "Experiences",
            "description": "Team members can anonymously assess their own and their peer's proficiency with each each [Notion](#tag/Notions).\n\nThe evaluation of notions will be used to determine task assignments in order to maximize productivity and team happiness."
        },
        {
            "name": "Deep Context",
            "description": "Once all [Tasks](#tag/Tasks) are marked as done, [Value items](#tag/Value-items) can be advanced further to Deep Context.\n        \nOnce in Deep Context, Value items can no longer be modified or restored to an active state."
        }
    ],
    "paths": {
        "/account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Fetch account",
                "description": "Retrieve the current account model",
                "operationId": "accountRead",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Account model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url https://api.kronup.com/v1/account \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Update account",
                "description": "Update the current account model.",
                "operationId": "accountUpdate",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Account model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Payload Account Update",
                                "description": "Payload object required to update an Account",
                                "properties": {
                                    "userName": {
                                        "type": "string",
                                        "description": "New user name",
                                        "example": "John Doe"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request POST \\\n  --url https://api.kronup.com/v1/account \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"userName\":\"John Doe\"}'"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Account"
                ],
                "summary": "Delete account",
                "description": "Delete the current account. This action is reversible only if you sign back in within 14 days. API calls and service accounts cannot restore deleted accounts.",
                "operationId": "accountDelete",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OK"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request DELETE \\\n  --url https://api.kronup.com/v1/account \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
                    }
                ]
            }
        },
        "/account/notifications": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "List notifications",
                "description": "Get a list of notification models",
                "operationId": "notificationList",
                "parameters": [
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Pagination: page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Pagination: page size",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "minimum": 1,
                            "maximum": 500,
                            "example": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Notifications List",
                                    "type": "object",
                                    "properties": {
                                        "pageNumber": {
                                            "type": "integer",
                                            "description": "Page number",
                                            "example": 1,
                                            "default": 1,
                                            "min": 1
                                        },
                                        "pageSize": {
                                            "type": "integer",
                                            "description": "Page size",
                                            "example": 100,
                                            "default": 100,
                                            "min": 1,
                                            "max": 500
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total",
                                            "example": 10
                                        },
                                        "notifications": {
                                            "type": "array",
                                            "description": "Notifications",
                                            "items": {
                                                "$ref": "#/components/schemas/Notification"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/account/notifications?pageNumber=1&pageSize=100' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/deep-context/{itemId}": {
            "get": {
                "tags": [
                    "Deep Context"
                ],
                "summary": "Fetch expanded value item",
                "description": "Retrieve value item model",
                "operationId": "deepContextRead",
                "parameters": [
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Value item ID",
                        "example": "value-item-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expanded Value Item model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValueItemExpanded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/deep-context/value-item-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Deep Context"
                ],
                "summary": "Delete value item",
                "description": "Delete a value item from Deep Context\";",
                "operationId": "deepContextDelete",
                "parameters": [
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Value item ID",
                        "example": "value-item-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OK"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request DELETE \\\n  --url 'https://api.kronup.com/v1/deep-context/value-item-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/deep-context": {
            "get": {
                "tags": [
                    "Deep Context"
                ],
                "summary": "Search value items",
                "description": "Get a list of value item models",
                "operationId": "deepContextSearch",
                "parameters": [
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchTerm",
                        "in": "query",
                        "description": "Search term",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Pagination: page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Pagination: page size",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "minimum": 1,
                            "maximum": 500,
                            "example": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Value Item models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Deep Context List",
                                    "type": "object",
                                    "properties": {
                                        "pageNumber": {
                                            "type": "integer",
                                            "description": "Page number",
                                            "example": 1,
                                            "default": 1,
                                            "min": 1
                                        },
                                        "pageSize": {
                                            "type": "integer",
                                            "description": "Page size",
                                            "example": 100,
                                            "default": 100,
                                            "min": 1,
                                            "max": 500
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total",
                                            "example": 10
                                        },
                                        "items": {
                                            "type": "array",
                                            "description": "Value Items",
                                            "items": {
                                                "$ref": "#/components/schemas/ValueItem"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/deep-context?searchTerm=SOME_STRING_VALUE&pageNumber=1&pageSize=100' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/xp/notions/{notionId}/users/{userId}": {
            "get": {
                "tags": [
                    "Experiences"
                ],
                "summary": "Fetch notion experience",
                "description": "Retrieve experience model for specified Notion",
                "operationId": "experienceRead",
                "parameters": [
                    {
                        "name": "notionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Notion ID",
                        "example": "notion-id-***"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "User ID",
                        "example": "user-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experience model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experience"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/xp/notions/notion-id-***/users/user-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/xp/users/{userId}": {
            "get": {
                "tags": [
                    "Experiences"
                ],
                "summary": "Fetch all experiences",
                "description": "Retrieve all experience models for this user",
                "operationId": "experiencesList",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "User ID",
                        "example": "user-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Pagination: page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Pagination: page size",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "minimum": 1,
                            "maximum": 500,
                            "example": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experience models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Experiences List",
                                    "type": "object",
                                    "properties": {
                                        "pageNumber": {
                                            "type": "integer",
                                            "description": "Page number",
                                            "example": 1,
                                            "default": 1,
                                            "min": 1
                                        },
                                        "pageSize": {
                                            "type": "integer",
                                            "description": "Page size",
                                            "example": 100,
                                            "default": 100,
                                            "min": 1,
                                            "max": 500
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total",
                                            "example": 10
                                        },
                                        "experiences": {
                                            "type": "array",
                                            "description": "Experiences",
                                            "items": {
                                                "$ref": "#/components/schemas/Experience"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/xp/users/user-id-***?pageNumber=1&pageSize=100' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/xp/notions/{notionId}/grade/{grade}": {
            "put": {
                "tags": [
                    "Experiences"
                ],
                "summary": "Self-evaluation",
                "description": "Evaluate yourself on a notion",
                "operationId": "experienceEvaluateSelf",
                "parameters": [
                    {
                        "name": "notionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Notion ID",
                        "example": "notion-id-***"
                    },
                    {
                        "name": "grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Grade between 1 and 10",
                        "min": 1,
                        "max": 10,
                        "example": 10
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experience model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experience"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request PUT \\\n  --url 'https://api.kronup.com/v1/xp/notions/notion-id-***/grade/10' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/xp/notions/{notionId}/users/{userId}/grade/{grade}": {
            "put": {
                "tags": [
                    "Experiences"
                ],
                "summary": "Evaluate peer",
                "description": "Anonymously evaluate another user on this notion",
                "operationId": "experienceEvaluatePeer",
                "parameters": [
                    {
                        "name": "notionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Notion ID",
                        "example": "notion-id-***"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "User ID",
                        "example": "user-id-***"
                    },
                    {
                        "name": "grade",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Grade between 1 and 10",
                        "min": 1,
                        "max": 10,
                        "example": 10
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experience model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experience"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request PUT \\\n  --url 'https://api.kronup.com/v1/xp/notions/notion-id-***/users/user-id-***/grade/10' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/invitations": {
            "post": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Create invitation",
                "description": "Create a new invitation to this organization",
                "operationId": "invitationCreate",
                "parameters": [
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invitation model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invitation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Payload Invitation Create",
                                "description": "Payload object required to create an Invitation",
                                "properties": {
                                    "inviteName": {
                                        "type": "string",
                                        "description": "Invitation name",
                                        "minLength": 3,
                                        "maxLength": 64
                                    },
                                    "inviteDomain": {
                                        "type": "string",
                                        "description": "User email domain name. If specified, restrict access to e-mail addresses belonging to this domain.",
                                        "maxLength": 64,
                                        "default": ""
                                    },
                                    "inviteOrgRole": {
                                        "type": "string",
                                        "description": "User role",
                                        "enum": [
                                            "manager",
                                            "member"
                                        ],
                                        "default": "member",
                                        "example": "member"
                                    },
                                    "inviteExpireDays": {
                                        "type": "integer",
                                        "description": "The invitation expires after this many days. 0 = no expiration",
                                        "minimum": 0,
                                        "maximum": 365,
                                        "default": 0,
                                        "example": 5
                                    },
                                    "inviteUsesMax": {
                                        "type": "integer",
                                        "description": "The invitation expires after being used this many times. 0 = no expiration",
                                        "minimum": 0,
                                        "maximum": 10000,
                                        "default": 0,
                                        "example": 10
                                    }
                                },
                                "required": [
                                    "inviteName"
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request POST \\\n  --url https://api.kronup.com/v1/invitations \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --header 'x-org-id: org-id-***' \\\n  --data '{\"inviteName\":\"string\",\"inviteDomain\":\"\",\"inviteOrgRole\":\"member\",\"inviteExpireDays\":5,\"inviteUsesMax\":10}'"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Invitations"
                ],
                "summary": "List invitations",
                "description": "Get a list of invitation models",
                "operationId": "invitationList",
                "parameters": [
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Pagination: page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Pagination: page size",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "minimum": 1,
                            "maximum": 500,
                            "example": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invitation models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Invitations List",
                                    "type": "object",
                                    "properties": {
                                        "pageNumber": {
                                            "type": "integer",
                                            "description": "Page number",
                                            "example": 1,
                                            "default": 1,
                                            "min": 1
                                        },
                                        "pageSize": {
                                            "type": "integer",
                                            "description": "Page size",
                                            "example": 100,
                                            "default": 100,
                                            "min": 1,
                                            "max": 500
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total",
                                            "example": 10
                                        },
                                        "invitations": {
                                            "type": "array",
                                            "description": "Invitations",
                                            "items": {
                                                "$ref": "#/components/schemas/Invitation"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/invitations?pageNumber=1&pageSize=100' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/invitations/{inviteId}": {
            "get": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Fetch invitation",
                "description": "Retrieve invitation model",
                "operationId": "invitationRead",
                "parameters": [
                    {
                        "name": "inviteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Invitation ID",
                        "example": "invitation-id-***"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invitation model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invitation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/invitations/invitation-id-***'"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Update invitation",
                "description": "Update invitation details",
                "operationId": "invitationUpdate",
                "parameters": [
                    {
                        "name": "inviteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Invitation ID",
                        "example": "invitation-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invitation model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invitation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Payload Invitation Update",
                                "description": "Payload object required to update an Invitation",
                                "properties": {
                                    "inviteName": {
                                        "type": "string",
                                        "description": "Invitation name",
                                        "minLength": 3,
                                        "maxLength": 64
                                    },
                                    "inviteDomain": {
                                        "type": "string",
                                        "description": "User email domain name. If specified, restrict access to e-mail addresses belonging to this domain.",
                                        "maxLength": 64,
                                        "default": ""
                                    },
                                    "inviteOrgRole": {
                                        "type": "string",
                                        "description": "User role",
                                        "enum": [
                                            "manager",
                                            "member"
                                        ],
                                        "default": "member",
                                        "example": "member"
                                    },
                                    "inviteExpireDays": {
                                        "type": "integer",
                                        "description": "The invitation expires after this many days. 0 = no expiration",
                                        "minimum": 0,
                                        "default": 0,
                                        "example": 5
                                    },
                                    "inviteUsesMax": {
                                        "type": "integer",
                                        "description": "The invitation expires after being used this many times. 0 = no expiration",
                                        "minimum": 0,
                                        "maximum": 10000,
                                        "default": 0,
                                        "example": 10
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request POST \\\n  --url 'https://api.kronup.com/v1/invitations/invitation-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --header 'x-org-id: org-id-***' \\\n  --data '{\"inviteName\":\"string\",\"inviteDomain\":\"\",\"inviteOrgRole\":\"member\",\"inviteExpireDays\":5,\"inviteUsesMax\":10}'"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Delete invitation",
                "description": "Delete invitation",
                "operationId": "invitationDelete",
                "parameters": [
                    {
                        "name": "inviteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Invitation ID",
                        "example": "invitation-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OK"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request DELETE \\\n  --url 'https://api.kronup.com/v1/invitations/invitation-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Accept invitation",
                "description": "Accept an invitation to join an organization",
                "operationId": "invitationAccept",
                "parameters": [
                    {
                        "name": "inviteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Invitation ID",
                        "example": "invitation-id-***"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invitation model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invitation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request PUT \\\n  --url 'https://api.kronup.com/v1/invitations/invitation-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
                    }
                ]
            }
        },
        "/teams/{teamId}/channels/{channelId}/items": {
            "post": {
                "tags": [
                    "Value items"
                ],
                "summary": "Create value item",
                "description": "Add a value item to planning",
                "operationId": "valueItemCreate",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Team ID",
                        "example": "team-id-***"
                    },
                    {
                        "name": "channelId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Channel ID",
                        "example": "channel-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Value Item model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValueItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Payload Value Item Create",
                                "description": "Payload object required to create a Value Item",
                                "properties": {
                                    "digest": {
                                        "type": "string",
                                        "description": "Value item digest",
                                        "minLength": 1,
                                        "maxLength": 256,
                                        "example": "Feature name"
                                    },
                                    "details": {
                                        "type": "string",
                                        "description": "Value item description",
                                        "minLength": 1,
                                        "maxLength": 4096,
                                        "example": "Feature description"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "Value item type",
                                        "enum": [
                                            "feature",
                                            "bug fix",
                                            "chore"
                                        ],
                                        "example": "feature"
                                    },
                                    "priority": {
                                        "type": "string",
                                        "description": "Value item MoSCoW priority",
                                        "enum": [
                                            "must",
                                            "shoud",
                                            "could",
                                            "will not"
                                        ],
                                        "example": "must"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request POST \\\n  --url 'https://api.kronup.com/v1/teams/team-id-***/channels/channel-id-***/items' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --header 'x-org-id: org-id-***' \\\n  --data '{\"digest\":\"Feature name\",\"details\":\"Feature description\",\"type\":\"feature\",\"priority\":\"must\"}'"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Value items"
                ],
                "summary": "List value items",
                "description": "Get a list of value item models",
                "operationId": "valueItemList",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Team ID",
                        "example": "team-id-***"
                    },
                    {
                        "name": "channelId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Channel ID",
                        "example": "channel-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Pagination: page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Pagination: page size",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "minimum": 1,
                            "maximum": 500,
                            "example": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Value Item models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Value Items List",
                                    "type": "object",
                                    "properties": {
                                        "pageNumber": {
                                            "type": "integer",
                                            "description": "Page number",
                                            "example": 1,
                                            "default": 1,
                                            "min": 1
                                        },
                                        "pageSize": {
                                            "type": "integer",
                                            "description": "Page size",
                                            "example": 100,
                                            "default": 100,
                                            "min": 1,
                                            "max": 500
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total",
                                            "example": 10
                                        },
                                        "items": {
                                            "type": "array",
                                            "description": "Value Items",
                                            "items": {
                                                "$ref": "#/components/schemas/ValueItem"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/teams/team-id-***/channels/channel-id-***/items?pageNumber=1&pageSize=100' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            }
        },
        "/teams/{teamId}/channels/{channelId}/items/{itemId}": {
            "get": {
                "tags": [
                    "Value items"
                ],
                "summary": "Fetch value item",
                "description": "Retrieve value item model",
                "operationId": "valueItemRead",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Team ID",
                        "example": "team-id-***"
                    },
                    {
                        "name": "channelId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Channel ID",
                        "example": "channel-id-***"
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Value item ID",
                        "example": "value-item-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Value Item model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValueItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error404"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "$ curl",
                        "source": "curl --request GET \\\n  --url 'https://api.kronup.com/v1/teams/team-id-***/channels/channel-id-***/items/value-item-id-***' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'x-org-id: org-id-***'"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Value items"
                ],
                "summary": "Update value item",
                "description": "Update value item details",
                "operationId": "valueItemUpdate",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Team ID",
                        "example": "team-id-***"
                    },
                    {
                        "name": "channelId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Channel ID",
                        "example": "channel-id-***"
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Value item ID",
                        "example": "value-item-id-***"
                    },
                    {
                        "name": "x-org-id",
                        "in": "header",
                        "description": "Organization ID",
                        "required": true,
                        "example": "org-id-***",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Value Item model",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValueItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
[...]
