{{#models}}
{{#model}}
---
title: "Models - {{classname}}"
description: "((#tableCell)){{#description}}{{{description}}}{{/description}}((/tableCell))"
parent: Model
layout: page
---

# {{title}}

```php
new \Kronup\Model\{{classname}}();
```
{{#description}}

{{{description}}}
{{/description}}

## ((#modelHeading)){{{classname}}}((/modelHeading))

Method name | ((#modelArgLabel)){{{classname}}}((/modelArgLabel)) | Description
------------ | ------------- | -------------
{{^vars}}**getData()** | mixed | {{{dataType}}} | [mixed type]
{{/vars}}{{#vars}}**((#modelPrefix)){{{classname}}},{{getter}}((/modelPrefix))()** | {{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{{dataType}}}**](../{{complexType}}){{/isPrimitiveType}} | ((#tableCell)){{{description}}} {{#isEnum}}( {{#_enum}}`{{.}}` {{/_enum}}){{/isEnum}} {{#defaultValue}} [default to `{{{.}}}`]{{/defaultValue}}((/tableCell))
{{/vars}}

{{/model}}
{{/models}}
