{{#models}}
{{#model}}
---
title: {{classname}}
parent: Model
layout: page
---

# {{classname}}

## Model getters

Method name | Return type | Description
------------ | ------------- | -------------
{{^vars}}**getData()** | mixed | {{{dataType}}} | [mixed type]
{{/vars}}{{#vars}}**{{getter}}()** | {{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{{dataType}}}**](../{{complexType}}){{/isPrimitiveType}} | ((#tableCell)){{{description}}}{{#defaultValue}} [default to `{{{.}}}`]{{/defaultValue}}((/tableCell))
{{/vars}}

{{/model}}
{{/models}}
